.ball {
  background-color: yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid peru;
  text-align: center;
  outline: 0;
  padding: 10px;
}

.btn {
  margin-top: 50px;
}

.error {
  border-color: red;
}
